body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #fdf5e6;
}

header {
    background-color: #FFE4CD;
    height: 100px;
}

#wrapper {
    background-color: #fdf5e6; 
    color: #6E473F;
    width: 1100px;
    margin: auto;
    text-align: center;
}

nav {
    background-color: #ffcba4;
    color: #c1885d;
    width: 1100px;
    margin: auto;
    align-items: center;
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a {
    margin: 14px 16px;
    text-decoration: none;
    color: #875631;
    float: left;
    position: relative;
}

#welcome-msg {
    margin: 14px 16px;
    color: #875631;
    padding: 10px;
}

#left-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    background: #875631;
    height: 3px;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 0.3s;
}

#left-nav a:hover::after {
    transform: scaleX(1);
}

#left-nav {
    margin-left: 20px;
}

#right-nav {
    margin-right: 20px;
    display: flex;
    position: relative;
}

#right-nav img{
    cursor: pointer;
    margin: 14px 16px;
}

#dropdown{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 5%;
    top: 90%;
}

#dropdown.show {
    display: block;
}

#dropdown a {
    padding: 12px 16px;
    width: 88px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: center;
}

#dropdown a:hover {
    background-color: #ddd;
}

#content {
    background-color: #ffffff;
    color: #370310;
    width: 1100px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#content img {
    margin: 0 10px;
}

.flex-container {
    display: flex;
    align-items: center;
}

footer {
    background-color: #FFE4CD;
    width: 1100px;
    font-size: 85%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer a {
    color: #370310;
    text-decoration: none;
}
